<div class="n2s-shareContainer n2s-{{direction}}">
  <!-- Primary share platforms-->
  <my-share-button *ngFor="let platform of platforms"
                   [platformName]="platform"
                   [textEnabled]="textEnabled"
                   [addedText]="addedText"
                   [direction]="direction"
                   url="{{url}}"
                   title="{{title}}">
  </my-share-button>
  <!-- Secondary share platforms-->
  <div class="n2s-shareContainer  n2s-{{direction}}"
      *ngIf="expandable">
    <div class="n2s-shareContainer  n2s-{{direction}}"
        [@expandedState]="expandedState">
      <my-share-button *ngFor="let expPlatform of secondaryPlatforms"
                       [platformName]="expPlatform"
                       [textEnabled]="false"
                       [direction]="direction">
      </my-share-button>
    </div>
    <!-- Expanding btn -->
    <div (click)="expand()" class="n2s-share-btn n2s-share-btn-more n2s-{{direction}}-margin">
      {{expandedState == 'collapsed' ? '+' : '-'}}
    </div>

  </div>
</div>
